<!--
<div class=" hidden-lg hidden-md pb-2">   <h1 class="logo"><a href="index.html">Anushka</a></h1></div>
<div class="menu container shrinked animate__animated animate__backInDown">
    <a href="/" title="Home Anushka Rajasingha" class="button">Home</a>
    <a href="../about.html" title="About Anushka Rajasingha" class="button">About</a>
 <a href="../portfolio.html"  title="Anushka's portfolio" class="button">Portfolio</a>

    <a href="../testimonials.html" title="Anushka's testimonials"  class="button">Testimonials</a>
    <a href="../contact.html" title="Contact Anushka" class="button">Contact</a>
    <h1 class="logo hidden-sm hidden-xs"><a title="Anushka Rajasingha" href="../">Anushka</a></h1>
</div>-->	<!-- .container -->


<nav class="menu">
    <input class="menu__toggle" type="checkbox" id="menu-toggle"/>
    <label class="menu__toggle-label" for="menu-toggle"></label>
    <label class="menu__toggle-label menu__toggle-label--closer" for="menu-toggle">
        <svg class="menu__icon" preserveAspectRatio="xMinYMin" viewBox="0 0 24 24">
            <path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z"></path>
        </svg>
        <svg class="menu__icon" preserveAspectRatio="xMinYMin" viewBox="0 0 24 24">
            <path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path>
        </svg>
    </label>
    <ul class="menu__content">
        <li class="menu__item" style="--x: 23; --y: 22;"><a class="menu__link" href="/">HOME</a></li>
        <li class="menu__item" style="--x: 42; --y: 32;"><a class="menu__link" href="/about.html">ABOUT</a></li>
        <li class="menu__item" style="--x: 30; --y: 75;"><a class="menu__link" href="/contact.html">CONTACT</a></li>
        <li class="menu__item" style="--x: 68; --y: 75;"><a class="menu__link" href="/products.html">PRODUCTS</a></li>
        <li class="menu__item" style="--x: 48; --y: 65;"><a class="menu__link" href="/services.html">SERVICES</a></li>
        <li class="menu__item" style="--x: 62; --y: 44;"><a class="menu__link" href="/portfolio.html">PORTFOLIO</a></li>
        <li class="menu__item" style="--x: 58; --y: 10;"><a class="menu__link" href="/testimonials.html">REVIEWS</a></li>
    </ul>
</nav>
