<div class=" hidden-lg hidden-md pb-2">   <h1 class="logo"><a href="index.html">Anushka</a></h1></div>
<div class="menu container shrinked animate__animated animate__backInDown">
    <a href="/" title="Home Anushka Rajasingha" class="button">Home</a>
    <a href="../about.html" title="About Anushka Rajasingha" class="button">About</a>
 <a href="../portfolio.html"  title="Anushka's portfolio" class="button">Portfolio</a>

    <a href="../testimonials.html" title="Anushka's testimonials"  class="button">Testimonials</a>
    <a href="../contact.html" title="Contact Anushka" class="button">Contact</a>
    <h1 class="logo hidden-sm hidden-xs"><a title="Anushka Rajasingha" href="../">Anushka</a></h1>
</div>	<!-- .container -->