<div class="hidden-lg hidden-md pb-2">   <h1 class="logo"><a href="index.html">Anushka</a></h1></div>
<div class="container shrinked animate__animated animate__backInDown">
    <a href="/about" title="About Anushka Rajasingha" class="button">About</a>
 <a href="../portfolio/"  title="Anushka's portfolio" class="button">Portfolio</a>
    <h1 class="logo hidden-sm hidden-xs"><a title="Anushka Rajasingha" href="../">Anushka</a></h1>
    <a href="/testimonials" title="Anushka's testimonials"  class="button">Testimonials</a>
    <a href="../contact/" title="Contact Anushka" class="button">Contact</a>
</div>	<!-- .container -->