/*
 * Header Styles
 */

.site-header,header[class^="site-header"]{
	text-align: center;
	padding: 10px 0;
	height: 200px;
	@include devices(tablet) {
		height: initial;
	}
	@include devices(mobile) {
		height: initial;
	}
	a.button{
		&:hover {
			background-color: $menu-btn-bgcolor-hover;
			color: $link-text-color-hover;
		}
		@media screen and (max-width:600px){
			@include em(14);
		}
	}
	.container{
		@include devices(mobile) {
			display: grid;
			gap: 10px;
			grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
			grid-template-rows: masonry;
		}
	}
	@media screen and (max-width:600px){
		white-space: nowrap;
		padding: 50px 0;
		a.button,.logo{

		}
	}
}

.logo{
	position:relative;
	width: 170px;
	height: 170px;
	border-radius: 50%;
	text-align: center;
	display: inline-block;
	background-color: $menu-btn-bgcolor;
	background-image: $menu-btn-bgimage;
	padding-top: 60px;
	margin: 0 20px;
	font-family: $secondary-font;
	font-weight: normal;
	@include em(48);
	transition: .3s ease;
	text-indent: -10px;
	border-top: 1px solid rgba(255,255,255,.1);
	border-bottom: 1px solid rgba(0,0,0,.4);

	&:before {
		opacity: 0.3;
		backdrop-filter: blur(5px);
		background-image: url(https://anushka.pro/images/profile.png);
		background-size: cover;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 170px;
		height: 170px;
		border-radius: 50%;
	}

	@media screen and (max-width: 600px){
		width: 130px;
		height: 130px;
		margin: 0 10px;
		padding-top: 40px;
		@include em(40);
		&:before {
			width: 130px;
			height: 130px;
		}
	}

	&:hover {
		box-shadow: inset 0 0 0 100px $menu-btn-bgcolor-hover;
		color: $link-text-color-hover;
		a{
			color: black;
		}
	}


	a{
		font-family: $signaturefont2;
		display: block;
		color: white;
		&:hover {
						color: black;
		}
	}
}
.about{
	.menu{
		margin-top:70px;
	}
	.logo{
		display: none;
	}
}