@keyframes scroll-l {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
@keyframes scroll-r {
  100% {
    transform: translateX(0);
  }
  0% {
    transform: translateX(calc(-250px * 7));
  }
}

$slider-height : 150px;

.slider-container{
  border-radius: 25px;
  backdrop-filter: blur(5px);
  background-color: $container-bg-colorv1;
  padding: 10px;
}

.slider {

  height: $slider-height;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  cursor: default;
  user-select: none;
  touch-action: none;
  &:before {
    left: 0;
    top: 0;
    /*background: linear-gradient( to right, #efeef2 0%, hsla(0, 0%, 100%, 0) 100% );*/
    content: "";
    position: absolute;
       z-index: 2;
   /* background: linear-gradient( to right, #efeef2 0%, hsla(0, 0%, 100%, 0) 100% );*/
    content: "";
    position: absolute;
    z-index: 2;
  }
  &:after {
    /*background: linear-gradient( to right, #efeef2 0%, hsla(0, 0%, 100%, 0) 100% );*/
    content: "";
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
    /*background: linear-gradient( to right, #efeef2 0%, hsla(0, 0%, 100%, 0) 100% );*/
    content: "";
    position: absolute;
    z-index: 2;
  }
  .slide-track-1 {
    animation: scroll-l 30s linear infinite;
    display: flex;
    width: 3500px;
  }
  .slide-track-2 {
    animation: scroll-r 30s linear infinite;
    display: flex;
    width: 3500px;
  }
  .slide {
    height: $slider-height;
    width: $slider-height;
    display: flex;
    align-items: center;
    text-align: center;

    img {
      filter: contrast(0.4);
      width: 160px;
      padding: 1pc;
      vertical-align: middle;
      margin: 0 auto;
      display: inline-block;
      max-width: 100%;
      height: auto;
      max-height: $slider-height;
    }
  }
}
