/*
* Portfolio Styles
*/
@import 	"../libs/settings";
.portfolio-container{
  text-align: center;
  padding-bottom: 100px;

}
.box-container {
  display: flex;
  flex-wrap: wrap;


  .box {
    border-radius: 50px;
    overflow: hidden;
    margin: 1%;
    position: relative;
    flex: 0 0 31%;
    min-height: 300px;
    background-color: $container-bg-colorv1;


    @include devices(tablet) {
      flex: 0 0 48%;
    }
    @include devices(mobile) {
      flex: 0 0 75%;
    }

    .image {
      /*background-color: $container-bg-color;*/
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        max-width: 98%;
        height: fit-content;
        max-height: 98%;
      }
    }

    .content {
      opacity: 0.85;
      height: 100%;
      width: 100%;
      background: $accent-color;
      padding: 1em;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    h3 {
      color: $body-color;
      padding: 5% 0 0;
    }

    h4 {
    }

    p {
      padding: 5% 0 0;
    }

    .btn-cnt {
      display: flex;
      align-items: center;
      flex-direction: column;

      a {
        left: 25%;
        width: 50%;
        /* bottom: 20px;
         position: absolute;*/
        border: #fff 2px solid;
        border-radius: 5px;
        color: $body-color;
        margin-bottom: 2%;

        &:hover {
         /* background-color: $accent-color;
          color: #3e3742;
          border-color: $accent-color;*/
          filter: invert(1);
          color: #fbfbfb;
        }
      }
    }
  }


  :hover .content {
    animation: slideup;
    animation-duration: 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
  }
}


@keyframes slideup {
  0% {top: 100%;}
  100% {top: 0px;}
}

@keyframes slidedown {
  0% {top: 0%;}
  100% {top: 100%;}
}

